.about {
  font-size: 25px;
  margin-left: 15px;
  margin-top: 10px;
  padding: 10px;
  color: black;
  background: rgb(249, 249, 249);
  border: 2px solid black;
  border-radius: 52px;
}
.about h1 {
  display: grid;
  justify-content: center;
  color: orange;
}
p {
  color: rgb(118, 0, 118);
}
h2 {
  display: grid;
  justify-content: center;
  color: orange;
}
p strong {
  text-decoration: underline;
  color: rgb(62, 0, 62);
}
.animated-heading {
  font-size: 50px;
  margin-bottom: 30px;
  animation: bouncein 1s ease-in;
  animation-delay: 1s;
}
.animate-para {
  opacity: 0;
  transform: translateX(-100px);
  animation: inputFadeIn 4s ease-in-out forwards;
}
@keyframes inputFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bouncein {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}